<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css" />	
	<link rel="stylesheet" href="/css/style.css" />		
</head>
<body ng-app="testApp">

	<my-header></my-header>

	<div ui-view>	
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="/scripts/ui-router.js"></script>
	<script src="/scripts/app.js"></script>
	<script src="/scripts/services.js"></script>
	<script src="/scripts/controllers.js"></script>
	<script src="/scripts/directives.js"></script>
</body>
</html>